[Unit]
Description=RabbitMQ consumer

[Service]
Type=simple
ExecStart={{python_virtualenv_path}}/bin/python {{ search_app_base_path }}/run_rabbitmq_consumer.py

[Install]
WantedBy=multi-user.target
