# Ignore swap and zip files
*.swp
*.zip

# Ignore vagrant cache directory
.vagrant/

# ignore other github repos
etsin_finder/
etsin_finder_search/

# ansible retry-file
ansible/*.retry

ansible/files/
*.pem
ansible/roles/ansible-elasticsearch/
*.tar.gz
__pycache__
.idea

# Mac stuff
.DS_Store

# Visual studio code stuff
.vscode

faircentos

!.gitignore
*.key
*.crt

# Secrets
.secrets/ansible/**/**/host_vars/*
.secrets/ansible/**/**/group_vars/*
.secrets/ansible/**/**/public_keys/*
.secrets/ansible/files/*.html
!*.secret
.secrets/secrets.setup.sh

# never commit random_seed
.gitsecret.dev/keys/random_seed
.gitsecret/keys/random_seed
