# Ignore swap and zip files
*.swp
*.zip

# Ignore vagrant cache directory
.vagrant/

# ignore other github repos
etsin_finder/
etsin_finder_search/

# ansible retry-file
ansible/site.retry

ansible/inventories/local_development/group_vars/local_development
ansible/inventories/test/group_vars/test
ansible/inventories/test/host_vars
ansible/inventories/stable/group_vars/stable
ansible/inventories/stable/host_vars
ansible/inventories/staging
ansible/inventories/production

ansible/files/
*.pem
ansible/roles/ansible-elasticsearch/
*.tar.gz
__pycache__
.idea

# Mac stuff
.DS_Store
