[Unit]
Description=Gunicorn application server handling {{ project_name }}
After=network.target

[Service]
User={{ app_user }}
Group=nginx
WorkingDirectory={{ app_base_path }}
Environment="Path={{ python_virtualenv_path }}/bin"
ExecStart={{ python_virtualenv_path }}/bin/gunicorn --bind unix:{{ nginx_gunicorn_socket_path }} --access-logfile /var/log/gunicorn/gunicorn.log --error-logfile /var/log/gunicorn/gunicorn_error.log --log-level info --config /etc/gunicorn.py wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
