[Unit]
Description=RabbitMQ consumer

[Service]
Type=simple
ExecStart={{ etsin_reindexer_path }}/rabbitmq/rabbitmq_client.py

[Install]
WantedBy=multi-user.target
