[Unit]
Description=RabbitMQ consumer

[Service]
Type=simple
ExecStart={{ etsin_reindexer_path }}/run_rabbitmq_consumer.py

[Install]
WantedBy=multi-user.target
